<!-- banner 开始 -->
<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../statics/img/public/banner.png"></div>
        <div class="swiper-slide"><img src="../../statics/img/public/banner.png"></div>
        <div class="swiper-slide"><img src="../../statics/img/public/banner.png"></div>
        <div class="swiper-slide"><img src="../../statics/img/public/banner.png"></div>
        <div class="swiper-slide"><img src="../../statics/img/public/banner.png"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<!-- banner 结束 -->