<!-- 工具栏 开始 -->
<nav class="bar bar-tab">
    <a class="tab-item external" href="javascript:void(0);">
        <i class="iconfont icon-weixin"></i>
    </a>
    <a class="tab-item external" href="javascript:void(0);">
        <i class="iconfont icon-phone"></i>
    </a>
    <a class="tab-item external" href="javascript:void(0);">
        <i class="iconfont icon-dingwei"></i>
    </a>
    <a class="tab-item external" href="javascript:void(0);">
        <i class="iconfont icon-geren-copy"></i>
    </a>
</nav>
<!-- 工具栏 结束 -->