<!-- 左滑导航 开始 -->
<div class="animate-l">
    <span class="close">×</span>
    <ul>
        <a href="home.html" class="external"><li class="active"><i class="iconfont icon-fangzi"></i>首页</li></a>
        <a href="aboutus.html" class="external"><li><i class="iconfont icon-guanyuwomen"></i>关于我们</li></a>
        <a href="invest.html" class="external"><li><i class="iconfont icon-xiaozhu"></i>投资业务</li></a>
        <a href="coop.html" class="external"><li><i class="iconfont icon-hezuoxuanzhong"></i>合作互动</li></a>
        <a href="recruit.html" class="external"><li><i class="iconfont icon-meiyuanqianbao"></i>招贤纳士</li></a>
        <a href="newcenter.html" class="external"><li><i class="iconfont icon-luxianghuifang"></i>新闻中心</li></a>
        <a href="contact.html" class="external"><li><i class="iconfont icon-youjian"></i>联系我们</li></a>
    </ul>
</div>
<!-- 左滑导航 结束 -->