<!DOCTYPE html>
<html>
<head>
    <link rel="import" href="./public/head.html?__inline">
    <link rel="stylesheet" type="text/css" href="../statics/less/public/public.css">
    <link rel="stylesheet" type="text/css" href="../statics/less/home.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_y9q702nevgupiudi.css">
</head>
<body>
	<div class="page-group">
        <div class="page page-current">

        	<link rel="import" href="./public/header.html?__inline">
            
            <!-- 左滑导航 开始 -->
            <div class="animate-l">
                <span class="close">×</span>
                <ul>
                    <a href="home.html" class="external"><li><i class="iconfont icon-fangzi"></i>首页</li></a>
                    <a href="aboutus.html" class="external"><li><i class="iconfont icon-guanyuwomen"></i>关于我们</li></a>
                    <a href="invest.html" class="external"><li><i class="iconfont icon-xiaozhu"></i>投资业务</li></a>
                    <a href="coop.html" class="external"><li><i class="iconfont icon-hezuoxuanzhong"></i>合作互动</li></a>
                    <a href="recruit.html" class="external"><li><i class="iconfont icon-meiyuanqianbao"></i>招贤纳士</li></a>
                    <a href="newcenter.html" class="external"><li><i class="iconfont icon-luxianghuifang"></i>新闻中心</li></a>
                    <a href="contact.html" class="external"><li class="active"><i class="iconfont icon-youjian"></i>联系我们</li></a>
                </ul>
            </div>
            <!-- 左滑导航 结束 -->

            <div class="bar aboutus">
                <span>联系我们</span>
            </div>

            <div class="slider-none">
                <img src="../statics/img/public/banner.png">
            </div>

            <div class="content-padded">
                <div class="contact">
                    <img src="../statics/img/public/dizhi.png">
                    <p>无锡总部</p>
                    <p><span>电话：0510-66867083</span></p>
                    <p><span>地址：无锡市锡山区安镇街道锡东创融大厦A座15楼</span></p>
                    <p><span>15th Floor, Block A, ChuangRong Mansion, AnZhen Town, XiShan District, WuXi</span></p>
                    <img src="../statics/img/public/dizhi.png">
                    <p>南京总部</p>
                    <p><span>地址：南京市建邺区金陵江滨酒店6号楼</span></p>
                    <p><span>Building 6，Nanjing Jinling Riverside Conference Hotel, JianYe District，NanJing</span></p>
                    <img src="../statics/img/public/dizhi.png">
                    <p>上海总部</p>
                    <p><span>地址：上海市延安中路1228号静安嘉里中心二期三座2104室</span></p>
                    <p><span>Room 2104 Tower 3, Jing An Kerry Centre, 1228 Yan’an Road Middle, Shanghai</span></p>
                </div>
            </div>
    		
    		<div style="width:100%;height:2.5rem;float:left;"></div>

    		<link rel="import" href="./public/footer.html?__inline">

        </div>
    </div>
    <link rel="import" href="./public/foot.html?__inline">
</body>
</html>
<script src="../statics/js/public/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".left").click(function(){
            $(".animate-l").animate({left:'0'});
        });
        $(".close").click(function(){
            $(".animate-l").animate({left:'-45%'});
        });
    });
</script>