<!DOCTYPE html>
<html>
<head>
    <link rel="import" href="./public/head.html?__inline">
    <link rel="stylesheet" type="text/css" href="../statics/less/public/public.css">
    <link rel="stylesheet" type="text/css" href="../statics/less/home.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_y9q702nevgupiudi.css">
</head>
<body>
	<div class="page-group">
        <div class="page page-current">

        	<link rel="import" href="./public/header.html?__inline">
            
            <link rel="import" href="./public/left.html?__inline">

    		<link rel="import" href="./public/banner.html?__inline">

    		<link rel="import" href="./public/news.html?__inline">

    		<div class="word">
    			<p class="title-w">锦江环境在新加坡交易所成功挂牌</p>
    			<span>这两天在南京举行的世界智能制造大会成为媒体热点，江苏民营投资控股有限公司（“苏民投”）也借此契机展开了新一轮的资源布局——苏民投与国内知名天使...</span>
    			<p><span>时间：2017-01-11 </span><span>来源：中国新闻网</span></p>
    		</div>
    		<div class="word">
    			<p class="title-w">锦江环境在新加坡交易所成功挂牌</p>
    			<span>这两天在南京举行的世界智能制造大会成为媒体热点，江苏民营投资控股有限公司（“苏民投”）也借此契机展开了新一轮的资源布局——苏民投与国内知名天使...</span>
    			<p><span>时间：2017-01-11 </span><span>来源：中国新闻网</span></p>
    		</div>
    		<div class="word">
    			<p class="title-w">锦江环境在新加坡交易所成功挂牌</p>
    			<span>这两天在南京举行的世界智能制造大会成为媒体热点，江苏民营投资控股有限公司（“苏民投”）也借此契机展开了新一轮的资源布局——苏民投与国内知名天使...</span>
    			<p><span>时间：2017-01-11 </span><span>来源：中国新闻网</span></p>
    		</div>
    		<div class="word">
    			<p class="title-w">锦江环境在新加坡交易所成功挂牌</p>
    			<span>这两天在南京举行的世界智能制造大会成为媒体热点，江苏民营投资控股有限公司（“苏民投”）也借此契机展开了新一轮的资源布局——苏民投与国内知名天使...</span>
    			<p><span>时间：2017-01-11 </span><span>来源：中国新闻网</span></p>
    		</div>
    		<div class="word">
    			<p class="title-w">锦江环境在新加坡交易所成功挂牌</p>
    			<span>这两天在南京举行的世界智能制造大会成为媒体热点，江苏民营投资控股有限公司（“苏民投”）也借此契机展开了新一轮的资源布局——苏民投与国内知名天使...</span>
    			<p><span>时间：2017-01-11 </span><span>来源：中国新闻网</span></p>
    		</div>
    		<div class="word">
    			<p class="title-w">锦江环境在新加坡交易所成功挂牌</p>
    			<span>这两天在南京举行的世界智能制造大会成为媒体热点，江苏民营投资控股有限公司（“苏民投”）也借此契机展开了新一轮的资源布局——苏民投与国内知名天使...</span>
    			<p><span>时间：2017-01-11 </span><span>来源：中国新闻网</span></p>
    		</div>
    		<div class="word">
    			<p class="title-w">锦江环境在新加坡交易所成功挂牌</p>
    			<span>这两天在南京举行的世界智能制造大会成为媒体热点，江苏民营投资控股有限公司（“苏民投”）也借此契机展开了新一轮的资源布局——苏民投与国内知名天使...</span>
    			<p><span>时间：2017-01-11 </span><span>来源：中国新闻网</span></p>
    		</div>
    		<div style="width:100%;height:2.5rem;float:left;"></div>

    		<link rel="import" href="./public/footer.html?__inline">

        </div>
    </div>
    <link rel="import" href="./public/foot.html?__inline">
</body>
</html>
<script src="../statics/js/public/jquery.min.js"></script>
<!-- Swiper JS -->
<script src="../statics/js/public/swiper.min.js"></script>
<!-- Initialize Swiper -->
<script>
    $(document).ready(function(){
        $(".left").click(function(){
            $(".animate-l").animate({left:'0'});
        });
        $(".close").click(function(){
            $(".animate-l").animate({left:'-45%'});
        });
    });
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
    });
</script>