<!DOCTYPE html>
<html>
<head>
    <link rel="import" href="./public/head.html?__inline">
    <link rel="stylesheet" type="text/css" href="../statics/less/public/public.css">
    <link rel="stylesheet" type="text/css" href="../statics/less/home.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_y9q702nevgupiudi.css">
</head>
<body>
	<div class="page-group">
        <div class="page page-current">

        	<link rel="import" href="./public/header.html?__inline">
            
            <!-- 左滑导航 开始 -->
            <div class="animate-l">
                <span class="close">×</span>
                <ul>
                    <a href="home.html" class="external"><li><i class="iconfont icon-fangzi"></i>首页</li></a>
                    <a href="aboutus.html" class="external"><li><i class="iconfont icon-guanyuwomen"></i>关于我们</li></a>
                    <a href="invest.html" class="external"><li class="active"><i class="iconfont icon-xiaozhu"></i>投资业务</li></a>
                    <a href="coop.html" class="external"><li><i class="iconfont icon-hezuoxuanzhong"></i>合作互动</li></a>
                    <a href="recruit.html" class="external"><li><i class="iconfont icon-meiyuanqianbao"></i>招贤纳士</li></a>
                    <a href="newcenter.html" class="external"><li><i class="iconfont icon-luxianghuifang"></i>新闻中心</li></a>
                    <a href="contact.html" class="external"><li><i class="iconfont icon-youjian"></i>联系我们</li></a>
                </ul>
            </div>
            <!-- 左滑导航 结束 -->

            <div class="bar aboutus">
                <span>投资业务</span>
                <img src="../statics/img/public/anjian-r.png" class="right">
            </div>

            <link rel="import" href="./public/right.html?__inline">

            <div class="slider-none">
                <img src="../statics/img/public/banner.png">
            </div>

            <div class="content-padded">
                <p><span>苏民投已形成两大业务模式：财务投资模式和战略投资模式</span></p>
                <p>◆ 财务投资模式</p>
                <p><span>财务性投资采用基金方式，分为以下三类形式：</span></p>
                <p><span>母基金：苏民投正在筹划设立母基金，投资到下一层面的优秀子基金，以增强公司汇聚资源的能力以及投资领域的覆盖面；</span></p>
                <p><span>成长型基金：苏民投根据行业研究与深入调研的结果，投资于具备高增长潜力的新兴行业，如物联网与智能制造、节能环保与新能源、大健康与医药等，对处于VC、PE阶段的项目进行布局。</span></p>
                <p><span>价值型基金：苏民投也积极把握交易型的投资机会，通过投资并购的方式，围绕上市公司和股东需求，挖掘项目及资产价值，最大化实现投资退出收益。</span></p>
                <p>◆ 战略投资模式</p>
                <p><span>战略投资将采用直接投资模式：</span></p>
                <p><span>· 择机抢抓重大项目，如对雨润集团重组、香港金控平台、南京环球苏商中心（综合体）等</span></p>
                <p><span>· 战略性投资的标的将作为核心资产进行长期持有，为公司整体上市打下基础。</span></p>
            </div>
    		
    		<div style="width:100%;height:2.5rem;float:left;"></div>

    		<link rel="import" href="./public/footer.html?__inline">

        </div>
    </div>
    <link rel="import" href="./public/foot.html?__inline">
</body>
</html>
<script src="../statics/js/public/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".left").click(function(){
            $(".animate-l").animate({left:'0'});
        });
        $(".close").click(function(){
            $(".animate-l").animate({left:'-45%'});
        });
        $(".right").click(function(){
            $(".animate-r").animate({right:'0'});
        });
        $(".close-r").click(function(){
            $(".animate-r").animate({right:'-45%'});
        });
    });
</script>