<!DOCTYPE html>
<html>
<head>
    <link rel="import" href="./public/head.html?__inline">
    <link rel="stylesheet" type="text/css" href="../statics/less/public/public.css">
    <link rel="stylesheet" type="text/css" href="../statics/less/home.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_y9q702nevgupiudi.css">
</head>
<body>
	<div class="page-group">
        <div class="page page-current">

        	<link rel="import" href="./public/header.html?__inline">
            
            <!-- 左滑导航 开始 -->
            <div class="animate-l">
                <span class="close">×</span>
                <ul>
                    <a href="home.html" class="external"><li><i class="iconfont icon-fangzi"></i>首页</li></a>
                    <a href="aboutus.html" class="external"><li><i class="iconfont icon-guanyuwomen"></i>关于我们</li></a>
                    <a href="invest.html" class="external"><li><i class="iconfont icon-xiaozhu"></i>投资业务</li></a>
                    <a href="coop.html" class="external"><li><i class="iconfont icon-hezuoxuanzhong"></i>合作互动</li></a>
                    <a href="recruit.html" class="external"><li class="active"><i class="iconfont icon-meiyuanqianbao"></i>招贤纳士</li></a>
                    <a href="newcenter.html" class="external"><li><i class="iconfont icon-luxianghuifang"></i>新闻中心</li></a>
                    <a href="contact.html" class="external"><li><i class="iconfont icon-youjian"></i>联系我们</li></a>
                </ul>
            </div>
            <!-- 左滑导航 结束 -->

            <div class="bar aboutus">
                <span>招聘岗位</span>
            </div>

            <div class="slider-none">
                <img src="../statics/img/public/banner.png">
            </div>

            <div class="content-padded">
                <div class="recruit">
                    <div class="applybox">
                        <p class="apply">投资高级总监/投资总监<span>申请岗位</span></p>
                        <div class="recbox">
                            <p><span>需求部门：投资业务部</span></p>
                            <p><span>原工作机构：大型投资机构董事总经理、执行董事</span></p>
                            <p><span>年龄： 35-45</span></p>
                            <p><span>工作经验： 8年及以上</span></p>
                            <p><span>项目工作经验：主导3个及以上成功投资项目</span></p>
                            <p><span>专业证书：CPA、ACCA、CFA、FRM、律师等至少一项专业资质</span></p>
                            <p><span>学历：国内外知名大学硕士及以上学历(211、985名录内)</span></p>
                            <p><span>岗位职责：</span></p>
                            <p><span>岗位职责：</span></p>
                            <p><span>1、组织投资项目开发工作</span></p>
                            <p><span>2、组织投资项目投后管理工作</span></p>
                            <p><span>3、组织项目退出工作</span></p>
                            <p><span>4、负责投资团队的搭建工作</span></p>
                        </div>
                    </div>
                    <div class="applybox">
                        <p class="apply">投资高级总监/投资总监<span>申请岗位</span></p>
                        <div class="recbox">
                            <p><span>需求部门：投资业务部</span></p>
                            <p><span>原工作机构：大型投资机构董事总经理、执行董事</span></p>
                            <p><span>年龄： 35-45</span></p>
                            <p><span>工作经验： 8年及以上</span></p>
                            <p><span>项目工作经验：主导3个及以上成功投资项目</span></p>
                            <p><span>专业证书：CPA、ACCA、CFA、FRM、律师等至少一项专业资质</span></p>
                            <p><span>学历：国内外知名大学硕士及以上学历(211、985名录内)</span></p>
                            <p><span>岗位职责：</span></p>
                            <p><span>岗位职责：</span></p>
                            <p><span>1、组织投资项目开发工作</span></p>
                            <p><span>2、组织投资项目投后管理工作</span></p>
                            <p><span>3、组织项目退出工作</span></p>
                            <p><span>4、负责投资团队的搭建工作</span></p>
                        </div>
                    </div>
                    <div class="applybox">
                        <p class="apply">投资高级总监/投资总监<span>申请岗位</span></p>
                        <div class="recbox">
                            <p><span>需求部门：投资业务部</span></p>
                            <p><span>原工作机构：大型投资机构董事总经理、执行董事</span></p>
                            <p><span>年龄： 35-45</span></p>
                            <p><span>工作经验： 8年及以上</span></p>
                            <p><span>项目工作经验：主导3个及以上成功投资项目</span></p>
                            <p><span>专业证书：CPA、ACCA、CFA、FRM、律师等至少一项专业资质</span></p>
                            <p><span>学历：国内外知名大学硕士及以上学历(211、985名录内)</span></p>
                            <p><span>岗位职责：</span></p>
                            <p><span>岗位职责：</span></p>
                            <p><span>1、组织投资项目开发工作</span></p>
                            <p><span>2、组织投资项目投后管理工作</span></p>
                            <p><span>3、组织项目退出工作</span></p>
                            <p><span>4、负责投资团队的搭建工作</span></p>
                        </div>
                    </div>
                    <div class="applybox">
                        <p class="apply">投资高级总监/投资总监<span>申请岗位</span></p>
                        <div class="recbox">
                            <p><span>需求部门：投资业务部</span></p>
                            <p><span>原工作机构：大型投资机构董事总经理、执行董事</span></p>
                            <p><span>年龄： 35-45</span></p>
                            <p><span>工作经验： 8年及以上</span></p>
                            <p><span>项目工作经验：主导3个及以上成功投资项目</span></p>
                            <p><span>专业证书：CPA、ACCA、CFA、FRM、律师等至少一项专业资质</span></p>
                            <p><span>学历：国内外知名大学硕士及以上学历(211、985名录内)</span></p>
                            <p><span>岗位职责：</span></p>
                            <p><span>岗位职责：</span></p>
                            <p><span>1、组织投资项目开发工作</span></p>
                            <p><span>2、组织投资项目投后管理工作</span></p>
                            <p><span>3、组织项目退出工作</span></p>
                            <p><span>4、负责投资团队的搭建工作</span></p>
                        </div>
                    </div>
                </div>
            </div>
    		
    		<div style="width:100%;height:2.5rem;float:left;"></div>

    		<link rel="import" href="./public/footer.html?__inline">

        </div>
    </div>
    <link rel="import" href="./public/foot.html?__inline">
</body>
</html>
<script src="../statics/js/public/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".left").click(function(){
            $(".animate-l").animate({left:'0'});
        });
        $(".close").click(function(){
            $(".animate-l").animate({left:'-45%'});
        });
        $(".apply").click(function(){
            $(this).css({color:"#d32f14"});
            var me = $(this);
            me.next(".recbox").slideToggle("slow");
            me.closest(".applybox").siblings().find(".recbox:visible").hide();
            me.closest(".applybox").siblings().find(".apply:visible").css({color:"#3d4145"});
        });
    });
</script>